# Data Types and Structures Questions

## Theory Question

Q1.
==>Data structure are specialized formats for organizing,sorting and accessing collection of data. It is efficient way to manage data.
They are important because choosing right data structure significantly impacts the efficieny and performance of program.

Q2.
==> Mutable data type mean the created can be changed whereas in an immutable data type item created cannot be changed.
**List** is a mutable data type
**Tuples** are immutable data type

  Q3.
==> List are mutable and Tuples are immutable data type.

Q4.
==>In dictionaries data is stored in form of unique key-value pair.

Q5.
==>In order to avoid duplicate entries

Q6.
==>String stores the characters arranged in an unchangeable order. string is immutable whereas list are mutable.

Q7.
==>Tuples ensure data integrity because tuples are immutable.

Q8.
==> A hash table is a data structure, and Python's dictionaries are an implementation of that data structure.

Relationship is that a Python dictionary uses a hash function to map keys to a specific location in memory. When you add a key-value pair to a dictionary, the key is "hashed", which tells the dictionary where to store the value. This process allows for extremely fast lookups and retrievals.

Q9.
==> Yes a list can conatian different data types in Python

Q10.==>Strings are immutable becuase  in string charactera are arranged in an unchangeable order

Q11.==> Dictionaries are better than lists when you need to quickly look up data using a key (like a name or ID) instead of an index.

Q12==> Tuple are preferable over list where data is to be secured and do not allow modifiction.

Q13==>Set do not allow duplicate data

Q14==>In list, the 'in' keyword checks if a specific element exists within the list.In dictionary, the 'in' keyword checks if a specific key exists within the dictionary.

Q15==>No, the elements of a tuple cannot be modified becuase Tuples are immutable data structures

Q16.==>A nested dictionary is a dictionary where the values associated with some keys are themselves other dictionaries.

Q17. ==> In dictionary accessing time is an average time complexity . This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

Q18.==> Lists are preferred over dictionaries when the order of elements is important or when you need to store a simple collection of items that you will access by their position.

Q19.==> Dictionaries were traditionally considered unordered because, their internal structure (a hash table) did not preserve the order in which items were added. This meant that iterating over a dictionary could produce items in an unpredictable sequence.

However, this lack of order did not affect data retrieval by key. Retrieving a value is always fast because it relies on the key's hash value to find its location directly, regardless of where other items are stored.

Q20.==> Retrieving data from a list is based on its position or index, while retrieving data from a dictionary is based on its unique, associated key.

## Practical Questions

In [ ]:
#1
str='Nizar'
print(str)

Nizar

In [ ]:
#2
str='hello world'
l=len(str)
print(l)

11

In [ ]:
#3
str='python programming'
str2=str[3:]
print(str2)

hon programming

In [ ]:
#4
str='hello'
str=str.upper()
print(str)

HELLO

In [ ]:
#5
str='I like apple'
str1=str.replace('apple','orange')
print(str1)

I like orange

In [ ]:
#6
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#7
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8
lst=[1,2,3,4,5]
del lst[2]
print(lst)

[1, 2, 4, 5]

In [ ]:
#9
lst=['a','b','c','d']
print(lst[1])

b

In [ ]:
#10
lst=[10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
#11
tpl=(100,200,300)
print(tpl)

(100, 200, 300)

In [ ]:
#12
tpl=('red','green','blue','yellow')
print(tpl[2])

blue

In [ ]:
#13
tpl=(10,20,5,15)
min_val=min(tpl)
print(m_val)

5

In [ ]:
#14
tpl=('dog','cat','rabbit')
ind=tpl.index('cat')
print(ind)

1

In [ ]:
#15
tpl=("orangr","mango","kiwi","apple")
if "kiwi" in tpl:
     print(" kiwi in tuple")
else:
     print("no kiwi")

 kiwi in tuple

In [ ]:
#16
ss={'a','b','c'}
type(ss)
print(ss)

{'c', 'a', 'b'}

In [ ]:
#17
ss={1,2,3,4,5}
print(ss)
ss.clear()
print(ss)

{1, 2, 3, 4, 5}
set()

In [ ]:
#18
ss={1,2,3,4}
print(ss)
ss.remove(4)
print(ss)

{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
#19
ss1={1,2,3}
ss2={3,4,5}
ss3=ss1|ss2
print(ss3)

{1, 2, 3, 4, 5}

In [ ]:
#20
ss1={1,2,3}
ss2={2,3,4}
ss3=ss1&ss2
print(ss3)

{2, 3}

In [ ]:
#21
Dict={"name":"gopal", "age":25,"city":"mumbai"}
print(Dict)
type(Dict)

{'name': 'gopal', 'age': 25, 'city': 'mumbai'}

dict

In [ ]:
#22
dict={"name":'John', "age":25}
print(dict)
dict["country"]="Newyork"
print(dict)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'Newyork'}

In [ ]:
#23
dict={'name':'Alice','Age':25}
nn=dict['name']
print(nn)

Alice

In [ ]:
#24
dict={"name":'Bob', "age":22,'City':'Newyork'}
print(dict)
del dict["age"]
print(dict)

{'name': 'Bob', 'age': 22, 'City': 'Newyork'}
{'name': 'Bob', 'City': 'Newyork'}

In [ ]:
#25

dict={"name":'Alice', "city":'Paris'}
print(dict)
check_key='city'
if check_key in dict:
  print("There is a key 'city' in the dict")
else:
  print("No, There is no key 'city' in the dict")

{'name': 'Alice', 'city': 'Paris'}
No, There is no key 'city' in the dict

In [ ]:
#26
lst=[1,2,3,4,'anil',23.56]
tpl=(1,4,3.45,'gopal')
dict={'name': 'gopal','Age':26,'City':'Mumbai'}
print(lst)
print(tpl)
print(dict)

[1, 2, 3, 4, 'anil', 23.56]
(1, 4, 3.45, 'gopal')
{'name': 'gopal', 'Age': 26, 'City': 'Mumbai'}

In [ ]:
#27
import random
lst=[]
lst = random.sample(range(1,10),5)
print("List berfore sorting", lst)
lst.sort()
print("list after sorting",lst)

List berfore sorting [9, 8, 3, 6, 4]
list after sorting [3, 4, 6, 8, 9]

In [ ]:
#28
lst=["Gopal"]
print(lst[0][2])

p

In [ ]:
#29
dict1={'Name':'Gopal','Age':25,'city':'Mumbai'}
dict2={'Salary':'24500','Gender':'male'}
dict1.update(dict2)
print(dict1)

{'Name': 'Gopal', 'Age': 25, 'city': 'Mumbai', 'Salary': '24500', 'Gender': 'male'}

In [ ]:
#30
lst=['Ajay','Gopal','Anil','Raju','Ajay','Anil']
print(lst)
ss=set(lst)
print(ss)

['Ajay', 'Gopal', 'Anil', 'Raju', 'Ajay', 'Anil']
{'Anil', 'Raju', 'Ajay', 'Gopal'}